/* Header */
.flexRowContent--header {
  background-color: #232f3e;
}
.flexRowContent--header-mobile {
  align-items: center;
  background-color: #232f3e;
  justify-content: space-between;
}
/* Fim */

/* Primeira sessão */
.flexRow--row-form-tablet {
  margin: 0 20px;
}
.flexCol--col-tablet-text {
  padding: 0 20px;
}
/* Footer */
.flexRowContent--copyright {
  margin-top: 2%;
  padding-left: 20px;
  margin-bottom: 2%;
}
.flexRowContent--mobile-social {
  padding-left: 20px;
}
@media (min-width: 640px) {
  .flexRow--form-mobile {
    display: none;
  }
  .flexRow--content-phone {
    display: none;
  }
  .flexRow--sobre-aws-mobile{
    display: none;
  }
  .flexRow--sobre-inicio-mobile{
    display: none;
  }
  .flexRow--banner2-mobile{
    display: none;
  }
  .flexRow--training-mobile{
    display: none;
  }
  .flexRow--benefits-title-container{
    display: none;
  }
  .flexRow--benefits-container-mobile{
    display: none;
  }
}
/* Fim */

/* Sessão beneficios */
.flexRowContent--content {
  margin-bottom: 70px;
}
.flexRowContent--content-phone {
  background-color: #232f3e;
}
.flexCol--col-content-desktop {
  font-size: 30px;
  background-color: #232f3e;
  padding: 50px 3rem;
  width: 100%;
}
.flexCol--col-content-tablet {
  font-size: 30px;
  background-color: #232f3e;
  padding: 25px;
  width: 100%;
}



.flexRowContent--row1-benefits{
  justify-content: space-around;
  margin-top: 20px;
}
.flexRow--row2-benefits {
  margin-top: 30px;
}
.flexRow--tablet {
  margin: 0 20px 30px;
}
.flexRow--row-form-tablet {
  margin: 70px 20px;
}
/* Fim*/

/* Product List */
.flexRowContent--productDetailMinicart {
  padding: 10px 10px 0 10px;
  box-shadow: 0 0 4px #414040;
  margin-top: 10px;
  border-radius: 3px;
  align-items: center;
}
/* Fim */

/* Product */
.flexCol--product-info {
  width: 70% !important;
}
/* Fim */

/* Sessão sobre */
.flexRow--sobre-title {
  margin: 70px 50px;
}
.flexRowContent--sobre-title {
  justify-content: space-between;
}
.flexCol--sobre-aws-col {
  padding: 50px;
}

.flexCol--sobre-aws-col-tablet{
  padding: 30px;
}
.flexCol--sobre-aws-col-tablet-training{
  padding: 30px;
  background-color: #FFF;
}
.flexCol--sobre-aws-col-mobile-training{
  padding: 20px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexCol--sobre-aws-col-mobile{
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.flexCol--col-title-banner1{
  width: 700px;
}
.flexColChild--image-col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexRow--certificados{
  margin: 70px 0 20px;
}
.flexRowContent--certificados-banner{
  background-color: #FFF;
  padding: 30px;
}
.flexRow--certificados-tablet{
  padding: 30px 30px 0;
}
.flexCol--col-certificados {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flexRowContent--line-certificates{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: calc(100vw-40px);
}
.flexCol--col-1-banner2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 10px;
}
.flexCol--col-2-banner2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 10px;
}
.flexCol--banner2-mobile-col{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexRowContent--banner2-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flexRow--banner2-mobile{
  padding: 20px;
}
.flexCol--certificados-text{
  width: 500px;
} 
.flexCol--certificados-text-tablet{
  width: 300px;
} 
.flexRow--certificados-banner {
  padding: 0 50px 70px;
  justify-content: space-around;
}
.flexRow--certificados-banner-tablet {
  padding: 0 30px 30px;
  justify-content: space-around;
  margin-bottom: 50px;
}
.flexRowContent--certificados-banner-tablet{
  background-color: #FFF;
  padding: 30px;
  box-sizing: border-box;
}
.flexRow--training {
  background-color: #fff;
  padding: 50px;
}
.flexColChild--sobre-inicio-col {
  width: 100vw;
  background-color: #FFF;
  padding: 50px 0;
}
.flexCol--sobre-inicio-col-tablet{
  width: 100vw;
  background-color: #FFF;
  display: flex;
  padding: 50px 30px;
  align-items: center;
  justify-content: center;
}
.flexCol--sobre-inicio-col-mobile{
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
/* Fim */

/* Home */
.flexRow--row-form {
  margin: 0 50px;
}
.flexRow--form-mobile {
  margin: 0 32px;
}
/*Fim*/

/* Benefits - Refactored */
/*Inicio*/
.flexRow--benefits-container {
  background-color: #fff;
  padding-bottom: 2rem;
}
.flexColChild--benefits-card:first-child {
  align-self: center;
}
.flexCol--benefits-card {
  background-color: #fff;
  border: 1px solid #d5dbdb;
}
.flexColChild--benefits-card:nth-child(even) {
  /* background-color: aqua; */
  height: 50% !important;
}
.flexCol--benefits-container-col-tablet{
  margin: 0 30px;
}
.flexCol--benefits-container-col-mobile{
  margin: 0 20px;
}
/*Fim*/
