@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.paragraph--footer-copyright {
  color: #727273;
  font-size: 0.75rem;
  margin-top: 0;
}
.paragraph--banner1-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 100px;
  font-size: 32px;
  margin: 0;
  right: 25%;
  left: 25%;
}
.paragraph--banner2-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 200px;
  font-size: 20px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--banner1-text-phone {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 100px;
  font-size: 16px;
  margin: 0;
  right: 5%;
  left: 5%;
}
.paragraph--banner2-text-phone {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 175px;
  font-size: 16px;
  margin: 0;
  right: 5%;
  left: 5%;
}

.heading--slider-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin: 0;
}

/*Inicio benefits session*/
.paragraph--benefits-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  margin: 30px 0;
  font-size: 48px;
  text-align: center;
}
.paragraph--text-benefits {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1.8rem;
  margin: 1.5rem;
}
.paragraph--benefits-title-phone {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  width: 272px;
  color: #fff;
}
.paragraph--text-benefits-phone {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  margin: 10px;
}
.paragraph--text-benefits-tablet {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  margin: 1rem;
}
/* Fim */

.paragraph--minicart-text {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

/* Sessão sobre inicio */

.paragraph--sobre-aws-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 0 0 20px;
}
.paragraph--text-banner1{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
.paragraph--text-banner1-tablet{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.paragraph--sobre-aws-title-tablet{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin: 20px 0;
}
.paragraph--sobre-aws-title-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 20px;
}
.paragraph--sobre-aws-title-mobile2{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0;
}
.paragraph--sobre-aws-title-mobile-3{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 20px;
}
.paragraph--certificados-text-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
.paragraph--text-banner1-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.paragraph--sobre-aws-subtitle {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 20px;
}
.paragraph--text-sobre-aws {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  margin: 0 0 20px;
}
.paragraph--text-sobre-aws-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0 0 10px;
}
.paragraph--text-col-certificates {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}
.paragraph--text-col-certificates-tablet {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.paragraph--certificados-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.paragraph--certificados-text-tablet {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
.paragraph--section-one-title-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin: 30px 0;
}
.paragraph--section-one-sobre-text-mobile {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
.paragraph--sobre-aws-subtitle-tablet{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.paragraph--sobre-aws-subtitle-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 20px;
  text-align: center;
}
.paragraph--text-sobre-aws-mobile{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.paragraph--text-sobre-aws-tablet{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
/* Fim */

/* Benefits - Refactored */
/*Inicio*/
.wrapper--benefits-text {
  margin: 0 2rem;
}
.paragraph--benefits-text {
  margin-top: -1rem;
  margin-bottom: 5rem;
}
.container--benefits-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Fim */
